.idea/*
.idea
*.log
*.log
*.php
tutorAssign/runtime/temp/b1b01508894623355eb3be29c6cb89f3.php
*.log
tutorAssign/runtime/temp/12306c1244a3209e7746ec61a41bb31d.php
*.php
*.php
*.php
*.log
*.txt
*.log
*.jpg
*.php
tutorAssign/runtime/temp/800011b9cca0458cc909fb3aa2cfcd18.php
*.php
*.txt
tutorAssign/runtime/temp/800011b9cca0458cc909fb3aa2cfcd18.php
