.idea/*
.idea
tutorAssign/uploads/*
tutorAssign/runtime/*
*.log
tutorAssign/runtime/log/201612/11.log
tutorAssign/runtime/temp/5894e1a459dfc6f7cb0a4082c835adcc.php
tutorAssign/runtime/temp/c8e61bf77c34ec0014c9e71f999ca462.php
