<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>毕设导师智能分配系统</title>
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/backstage.css">
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/student.css">
    <style type="text/css">
        .sider-navbar-nav li {
            color: #fff;
            text-align: center;
            padding-top: 10px;
        }
    </style>
</head>
<body>

<div id="container-backstage" class="clearfix">
    <div id="siderbar">
        <nav class="sider-navbar">
            <div class="sider-navbar-header">
               <img src="{{$Think.const.OLD}}/image/mainpage-logo.png" alt="" width="240">
            </div>
            <ul class="sider-navbar-nav">
                <a href="{{:url('TeachingOfficeTutor/index')}}"><li ><i class="glyphicon glyphicon-user"></i> 个人信息</li></a>
                <a href="{{:url('TeachingOfficeTutor/head_list')}}"><li class="active"><i class="glyphicon glyphicon-th-list"></i> 管理系负责人</li></a>
                <a href="{{:url('TeachingOfficeTutor/tutor_change')}}"><li><i class="glyphicon glyphicon-pencil"></i> 导师分配情况</li></a>
                <a href="{{:url('TeachingOfficeTutor/student_assign')}}"><li><i class="glyphicon glyphicon-ok"></i> 学生分配情况</li></a>
            </ul>
        </nav>
    </div>
    <div id="mainpage">
        <div class="top-nav">
            <div class="user-area">
                <div class="hello-user">
                    <span><i class="glyphicon glyphicon-user"></i>欢迎您,</span>
                    <span class="user-name">{{:user_type()}}: {{$user['name']|default="xxx"}}</span>
                </div>
            </div>
            <div class="login-out-area">
                <a href="{{:url('BaseController/logout')}}"><i class = "glyphicon glyphicon-off"></i>退出</a>
            </div>
        </div>
        <div class="page-content">
            <div class="main-content" style="border-radius: 10px;padding: 20px;">
                <div role="alert" class="alert alert-info" style="margin-bottom: 0">
                    <p>提示：您还未设置系负责人！</p>
                </div>
                <div class="page-header">
                        <h3>系负责人列表
                        </h3>
                </div>
                <div class="table-responsive">
                     <table id="tresult" class="table table-bordered">
                        <thead> 
                            <tr>
                                <th>系名称</th>
                                <th>系负责人工号</th>
                                <th>系负责人姓名</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="teacher-name"  style="vertical-align:middle"  rowspan="">应用数学系</td>
                                <td><?php echo $R1['workNumber'];?></td>
                                <td> 
                                        <?php echo $R1['name'];?>
                                </td>
                                
                            </tr>

                            <tr>
                                <td class="teacher-name"  style="vertical-align:middle" rowspan="">信息与计算科学系</td>
                                <td><?php echo $R2['workNumber'];?></td>
                                <td> 
                                    <?php echo $R2['name'];?>
                                </td>
                                
                            </tr>
                            
                            <tr>
                                <td class="teacher-name"  style="vertical-align:middle" rowspan="">计算机系</td>
                                <td><?php echo $R3['workNumber'];?></td>
                                <td> 
                                    <?php echo $R3['name'];?>
                                </td>
                               
                            </tr>
                             
                            <tr>
                                <td class="teacher-name"  style="vertical-align:middle" rowspan="">信息安全与网络系</td>
                                <td><?php echo $R4['workNumber'];?></td>
                                <td> 
                                    <?php echo $R4['name'];?>
                                </td>

                            </tr>   
                              
                            <tr>
                                <td class="teacher-name"  style="vertical-align:middle" rowspan="">软件工程系</td>
                                <td><?php echo $R5['workNumber'];?></td>
                                <td> 
                                    <?php echo $R5['name'];?>
                                </td>
                                
                            </tr>  
                             
                            <tr>
                                <td class="teacher-name"  style="vertical-align:middle" rowspan="">计算机实验班</td>
                                <td><?php echo $R6['workNumber'];?></td>
                                <td> 
                                    <?php echo $R6['name'];?>
                                </td>
                                
                            </tr> 
                             
                            <tr>
                                <td class="teacher-name"  style="vertical-align:middle"  rowspan="">数学实验班</td>
                                <td><?php echo $R7['workNumber'];?></td>
                                <td> 
                                    <?php echo $R7['name'];?>
                                </td>
                                
                            </tr>   
                              
                        </tbody>
                    </table>
                </div>

                <div class="submit-area" >
                     <div class="col-md-2" > </div>
                     <div class="col-md-2" > </div>
                     <div class="col-md-2" > <a style="color:white;" href="{{:url('/index/TeachingOfficeTutor/to_head_manager/')}}">
                         <button type="submit" class="btn btn-info" >
                         
                         修&nbsp;&nbsp;改</button></a>

                     </div>

                </div>

                <br/>
                <br/>
            </div>
            <div class="footer"  style="border-radius: 10px;">
                Designed by Lin & 我说的都队
            </div>
        </div>
    </div>
</div>
 <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="addModalLabel">
                    某某老师
                </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="workNum" id="workNum">
                    <div>
                    <div id="info-load">等待数据加载...</div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>学号</th>
                                <th>姓名</th>
                            </tr>
                            </thead>
                            <tbody id="student_unassign">

                            </tr>
                            </tbody>
                        </table>
                        
                    </div>
                    </form>
                    <div class="modal-footer">
                        <a href="{{:url('/index/TeachingOfficeTutor/tutor_change')}}" id="btn-colse-add" class="btn btn-default" >关闭
                        </a>
                        <button id="btn-add-student" form="addStudent" class="btn btn-primary">
                            确认
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/index.js"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/jquery2.14.min.js"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/bootstrap.js"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/backstage.js"></script>
</body>
</html>


