<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>毕设导师智能分配系统</title>
    <!--  <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/backstage.css">
    <link rel="stylesheet" type="text/css" href="{{$Think.const.TUTOR_STATIC}}/css/student.css">
    !-->
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/backstage.css">
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/student.css">
    <style type="text/css">
    .sider-navbar-nav li {
        color: #fff;
        text-align: center;
        padding-top: 10px;
    }

    .table td{
        vertical-align: middle;
    }
    </style>
</head>

<body>
    <div id="container-backstage" class="clearfix">
        <div id="siderbar">
            <nav class="sider-navbar">
                <div class="sider-navbar-header">
                    <img src="{{$Think.const.OLD}}/image/mainpage-logo2.png" alt="" width="240">
                </div>
            <ul class="sider-navbar-nav">
                <a href="{{:url('TeachingOfficeTutor/index')}}"><li><img src="__STATIC__/image/院负责人/个人信息.png" height="22px" width="22px"> 个人信息</li></a>
                <a href="{{:url('TeachingOfficeTutor/head_list')}}"><li ><img src="__STATIC__/image/院负责人/管理系负责人.png" height="22px" width="22px"> 管理系负责人</li></a>
                <a href="{{:url('TeachingOfficeTutor/tutor_change')}}"><li><img src="__STATIC__/image/院负责人/导师分配情况.png" height="22px" width="22px"> 导师分配情况</li></a>
                <a href="{{:url('TeachingOfficeTutor/student_assign')}}"><li class="active"><img src="__STATIC__/image/院负责人/学生分配情况.png" height="22px" width="22px"> 学生分配情况</li></a>
            </ul>
            </nav>
        </div>
        <div id="mainpage">
            <div class="top-nav">
                <div class="user-area">
                    <div class="hello-user">
                        <span><i class="glyphicon glyphicon-user"></i>欢迎您,</span>
                        <span class="user-name">{{:user_type()}}: {{$user['name']|default="xxx"}}</span>
                    </div>
                </div>
                <div class="login-out-area">
                    <a href="{{:url('BaseController/logout')}}"><i class = "glyphicon glyphicon-off"></i>退出</a>
                </div>
            </div>
            <div class="page-content">
                <div class="main-content" style="border-radius: 10px;padding: 20px;">
                    <div role="alert" class="alert alert-info" style="margin-bottom: 0">
                        <p>提示：毕设导师志愿时间为2016年10月19日至2016年10月22日，请同学们在规定时间内完成志愿选择.</p>
                    </div>
                    <div class="page-header">
                        <h3>学生分配结果修改
                    </h3>
                    </div>
                    <div class="form-horizontal" role="form">
                <div class="form-group">
                                        <form action="{{:url('TeachingOfficeTutor/student_assign')}}" method="post">
                        <label class="col-md-2 control-label"  >选择年级：</label>
                        <div class="col-xs-2" >
                            <select id="gradeSelect" class="form-control" name="grade" style="display: inline; width: 80%">
                                    {volist name="gg" id="v"}
                                        <option value="{{$v.grade}}" <?php if($grade == $v['grade']) echo 'selected="true"';?>>{{$v.grade}}级</option>
                                    {/volist}
                            </select>
                            
                        </div>

                        <label class="col-md-2 control-label"  >选择系别：</label>
                        <div class="col-xs-2" >
                            <select id="departSelect" class="form-control" name="department" style="display: inline; width: 100%">
                                 <option value="应用数学系" <?php if($dep == "应用数学系") echo'selected = "true"';?>>应用数学系</option>
                            <option value="信息与计算科学系" <?php if($dep == "信息与计算科学系") echo'selected = "true"';?>>信息与计算科学系</option>
                            <option value="计算机系" <?php if($dep == "计算机系") echo'selected = "true"';?>>计算机系</option>
                            <option value="软件工程系" <?php if($dep == "软件工程系") echo'selected = "true"';?>>软件工程系</option>
                            <option value="信息安全与网络系" <?php if($dep == "信息安全与网络系") echo'selected = "true"';?>>信息安全与网络系</option>
                            <option value="计算机实验班" <?php if($dep == "计算机实验班") echo'selected = "true"';?>>计算机实验班</option>
                            <option value="数学实验班" <?php if($dep == "数学实验班") echo'selected = "true"';?>>数学实验班</option>
                            </select>  
                            <input type="hidden" name="stu" value="modify">
                        </div>
                        
                        <button type="submit" class="btn btn-primary" style="display: inline;" id="sub-confirm" >确定</button>

                    </form>

                    </div>
                    

                </div>
                    <br />
                    <div class="table-responsive">
                        <form action="{{:url('TeachingOfficeTutor/student_modify')}}" method="post" id="modify-info">
                        <table class="table">
                            <tr>
                                <th>#</th>
                                <th>学生学号</th>
                                <th>学生姓名</th>
                                <th>导师姓名</th>
                            </tr>
                            <tbody>
                                <?php
                                    $i=1;
                                    foreach ($data as $value) 
                                    {
                                        echo 
                                        '<tr>
                                            <td>'.$i.'</td>
                                            <td>'.$value['snum'].'</td>
                                            <td>'.$value['sname'].'</td>
                                            <td style="width: 200px; padding:0; margin: 0; ">
                                            <input type="hidden" name="snum'.$i.'" value="'.$value['snum'].'">
                                            <select  name="'.$i.'" class="form-control" style="width: 200px; padding:5px 0; margin: 0; ">';
                                            
                                            foreach ($teacher as  $value1) 
                                            {                                      
                                            echo 
                                            '<option value="'.$value1['workNumber'].'" ';
                                            if($value1['workNumber'] == $value['tnum']) echo'selected = "true"';
                                            echo  '>'.$value1['workNumber'].'('.$value1['name'].')'.'</option>';
                                            }       
                                            echo    '</select></td>
                                            
                                        </tr>';
                                        $i++;
                                    }
                                    echo '<input type="hidden" name="count" value="'.($i-1).'">';
                                ?>

                            </tbody>
                           
                        </table>
                        <div class="submit-area">
                            <button type="submit" class="btn btn-primary" style="width: 100px" id="modify-info">确&nbsp;&nbsp;认</button>
                        </div>
                        </form>
                        <nav style="margin-bottom: 100px">
                            <ul class="pagination" style="float: right;">
                                {if condition="$curPage neq 1 "}
                              <li><a href="{{:url('/index/TeachingOfficeTutor/student_assign/page/'.($curPage-1).'/dep/'.$dep.'/to/'.'modify'.'/grade/'.$grade)}}">&laquo;</a></li>
                              {/if}
                                
                              {if condition="($curPage gt 3) AND ($curPage lt $totalPage-2)"}
                                {for start="$curPage-2" end="$curPage+3"}
                                  <li><a <?php if($i==$curPage) echo "class='active'"; ?> href="{{:url('/index/TeachingOfficeTutor/student_assign/page/'.$i.'/dep/'.$dep.'/to/'.'modify'.'/grade/'.$grade)}}" >{{$i}}</a></li>
                                {/for}
                              {elseif condition="($curPage gt $totalPage-3) AND ($totalPage gt 5)" /}
                                {for start="$totalPage-5" end="$totalPage"}
                                  <li><a <?php if($i==$curPage) echo "class='active'"; ?> href="{{:url('/index/TeachingOfficeTutor/student_assign/page/'.$i.'/dep/'.$dep.'/to/'.'modify'.'/grade/'.$grade)}}" >{{$i}}</a></li>
                                {/for}
                              {elseif condition="$totalPage gt 5" /}
                                {for start="1" end="6"}
                                  <li><a <?php if($i==$curPage) echo "class='active'"; ?> href="{{:url('/index/TeachingOfficeTutor/student_assign/page/'.$i.'/dep/'.$dep.'/to/'.'modify'.'/grade/'.$grade)}}" >{{$i}}</a></li>
                                {/for}
                              {else /}
                                {for start="1" end="$totalPage"}
                                  <li><a <?php if($i==$curPage) echo "class='active'"; ?> href="{{:url('/index/TeachingOfficeTutor/student_assign/page/'.$i.'/dep/'.$dep.'/to/'.'modify'.'/grade/'.$grade)}}" >{{$i}}</a></li>
                                {/for}
                              {/if}
                              {if condition="$curPage lt $totalPage-1"}
                                <li><a href="{{:url('/index/TeachingOfficeTutor/student_assign/page/'.($curPage+1).'/dep/'.$dep.'/to/'.'modify'.'/grade/'.$grade)}}">&raquo;</a></li>
                              {/if}
                                
                            </ul>
                        </nav>
                    
                    </div>
                </div>
                <div class="footer" style="border-radius: 10px;">
                    Designed by Lin & 我说的都队
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{$Think.const.OLD}}/js/index.js"></script>
    <script type="text/javascript" src="{{$Think.const.OLD}}/js/jquery2.14.min.js"></script>
    <script type="text/javascript" src="{{$Think.const.OLD}}/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{$Think.const.OLD}}/js/backstage.js"></script>
</body>

</html>
