<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>毕设选导-教师报课管理系统</title>
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/backstage.css">
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/student.css">
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/auto_assign.css">
    <style type="text/css">
        .sider-navbar-nav li {
            color: #fff;
            text-align: center;
            padding-top: 10px;
        }

    </style>
</head>
<body>

<div id="container-backstage" class="clearfix">
    <div id="siderbar">
        <nav class="sider-navbar">
            <div class="sider-navbar-header">
                <img src="{{$Think.const.OLD}}/image/mainpage-logo2.png" alt="" width="240">
            </div>
            <ul class="sider-navbar-nav">
                <a href="{{:url('DepartmentHeadTutor/index')}}"><li><img src="__STATIC__/image/系负责人/个人信息.png" height="22px" width="22px"> 个人信息</li></a>
                <a href="{{:url('DepartmentHeadTutor/studentManager')}}"><li><img src="__STATIC__/image/系负责人/学生管理.png" height="22px" width="22px"> 学生管理</li></a>
                <a href="{{:url('DepartmentHeadTutor/teacherManager')}}"><li><img src="__STATIC__/image/系负责人/导师管理.png" height="22px" width="22px"> 导师管理</li></a>
                <a href="{{:url('DepartmentHeadTutor/timeSetting')}}"><li><img src="__STATIC__/image/系负责人/匹配设置.png" height="22px" width="22px"> 匹配设置</li></a>
                <a href="{{:url('DepartmentHeadTutor/matchSetting')}}"><li class="active"><img src="__STATIC__/image/系负责人/匹配结果.png" height="22px" width="22px"> 智能匹配</li></a>
                <a href="{{:url('DepartmentHeadTutor/student_result')}}"> <li><img src="__STATIC__/image/系负责人/学生结果.png" height="22px" width="22px"> 学生结果</li> </a>
                <a href="{{:url('DepartmentHeadTutor/tutor_result')}}"> <li><img src="__STATIC__/image/系负责人/导师结果.png" height="22px" width="22px"> 导师结果</li> </a>
            </ul>
        </nav>
    </div>
    <div id="mainpage">
        <div class="top-nav">
            <div class="user-area">
                <div class="hello-user">
                    <span><i class="glyphicon glyphicon-user"></i>欢迎您,</span>
                    <span class="user-name">{{:user_type()}}: {{$user['name']|default="xxx"}}</span>
                </div>
            </div>
            <div class="login-out-area">
                <a href="{{:url('BaseController/logout')}}"><i class="glyphicon glyphicon-off"></i>退出</a>
            </div>
        </div>
        <div class="page-content">
            <div class="main-content" style="border-radius: 10px;padding: 20px;">
                <div role="alert" class="alert alert-info" style="margin-bottom: 0">
                    <p>提示：以下学生未分配到导师，请手动分配或系统智能分配，分配结果请逐一进行确认！</p>
                </div>
                <div class="my-information-title">
                    <span>分配列表</span>
                    <button id="go-to-assign2" link="{{:url('DepartmentHeadTutor/auto_assign2')}}" class="btn btn-info button-size btn-edit"
                            data-toggle="modal" data-backdrop="static" data-target="#infoModal" style="width: 90px;">智能分配</button>
                </div>
                <div class="my-information-subtitle">
                    <span>为未分配到导师的学生进行导师分配</span>
                </div>

                <div class="table-position">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>学号</th>
                            <th>姓名</th>
                            <th>第一志愿</th>
                            <th>第二志愿</th>
                            <th>第三志愿</th>
                            <th>第四志愿</th>
                            <th>第五志愿</th>
                            <th>分配操作</th>
                        </tr>
                        </thead>
                        <tbody id="table-student">
                        <!--<tr v-if="isNull"><td class="table-empty-style" colspan="9">没有更多数据了~</td></tr>-->
                        <tr v-if="isOk">
                            <td v-if="isNull" class="table-empty-style" colspan="9">没有更多数据了~</td>
                            <td v-if="isError" class="table-empty-style" colspan="9">网络粗错了~</td>
                        </tr>
                        <tr v-else v-for="item in datas">
                            <td>{{ item.sid }}</td>
                            <td>{{ item.serialNum }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.vol1 }}</td>
                            <td>{{ item.vol2 }}</td>
                            <td>{{ item.vol3 }}</td>
                            <td>{{ item.vol4 }}</td>
                            <td>{{ item.vol5 }}</td>
                            <td style="align:center;">
                                <button class="btn-assign warp-contain" v-on:click="assign($index)" data-toggle="modal" data-backdrop="static"
                                        data-target="#assignModal"><span>分配导师</span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="module" style="height: 60px;">
                    <div class="fixed-table-pagination" style="display: block; float: right;">
                        <div id="tab-pagination" class="pagination ">
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer" style="border-radius: 10px;">
                Copyright &copy; 我说的都队
            </div>
        </div>
    </div>
</div>
{{include file="common/modal_assign_teacher_list"}}
{{include file="common/modal_info_assign"}}
{{include file="common/api"}}

<script type="text/javascript" src="{{$Think.const.OLD}}/js/index.js"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/jquery2.14.min.js"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/bootstrap.js"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/backstage.js"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/vue.min.js"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/jqPaginator.min.js"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/auto_assign.js"></script>
</body>
</html>