<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>毕设导师智能分配系统</title>
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/backstage.css">
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/student_manager.css">
    <link href="https://rawgithub.com/hayageek/jquery-upload-file/master/css/uploadfile.css" rel="stylesheet">
    <style type="text/css">
        .sider-navbar-nav li {
            color: #fff;
            text-align: center;
            padding-top: 10px;
        }
    </style>
</head>

<body>
<div id="container-backstage" class="clearfix">
    <div id="siderbar">
        <nav class="sider-navbar">
            <div class="sider-navbar-header">
                <img src="{{$Think.const.OLD}}/image/mainpage-logo.png" alt="" width="240">
            </div>
            <ul class="sider-navbar-nav">
                <a href="{{:url('DepartmentHeadTutor/index')}}">
                    <li><i class="glyphicon glyphicon-user"></i> 个人信息</li>
                </a>
                <a href="{{:url('DepartmentHeadTutor/studentManager')}}">
                    <li><i class="glyphicon glyphicon-th-list"></i> 学生管理</li>
                </a>
                <a href="{{:url('DepartmentHeadTutor/teacherManager')}}">
                    <li class="active"><i class="glyphicon glyphicon-pencil"></i> 导师管理</li>
                </a>
                <a href="{{:url('DepartmentHeadTutor/timeSetting')}}">
                    <li><i class="glyphicon glyphicon-time"></i> 匹配设置</li>
                </a>
                <a href="{{:url('DepartmentHeadTutor/matchSetting')}}">
                    <li><i class="glyphicon glyphicon-ok"></i> 智能匹配</li>
                </a>
                <a href="{{:url('DepartmentHeadTutor/student_result')}}"> <li><i class="glyphicon glyphicon-download-alt"></i> 学生结果</li> </a>
                <a href="{{:url('DepartmentHeadTutor/tutor_result')}}"> <li><i class="glyphicon glyphicon-download-alt"></i> 导师结果</li> </a>
            </ul>
        </nav>
    </div>
    <div id="mainpage">
        <div class="top-nav">
            <div class="user-area">
                <div class="hello-user">
                    <span><i class="glyphicon glyphicon-user"></i>欢迎您,</span>
                    <span class="user-name">负责人:大东东 </span>
                </div>
            </div>
            <div class="login-out-area">
                <a href="/public/index.php/index/base_controller/logout.html"><i class="glyphicon glyphicon-off"></i>退出</a>
            </div>
        </div>
        <div class="page-content">
            <div class="main-content" style="border-radius: 10px; padding: 20px;">
                <div role="alert" class="alert alert-info" style="margin-bottom: 0">
                    <p>提示：你还未设置毕设导师分配的时间</p>
                </div>
                <div class="row module">
                    <div class="col-md-2">
                        <button id="import-excel" data-toggle="modal" data-backdrop="static"
                                data-target="#exportExcelModal" class="btn btn-info">从文件导入
                        </button>
                    </div>
                    <div class="col-md-1">
                        <button id="add-item" data-toggle="modal" data-backdrop="static" data-target="#addItemModal"
                                class="btn btn-info">新增
                        </button>
                    </div>
                    <div class="col-md-1">
                        <button id="delete-item" data-toggle="modal" data-backdrop="static"
                                data-target="#deleteItemModal" class="btn btn-info">删除
                        </button>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" id="searchstu" placeholder="搜索姓名或学号..." type="text"
                               style="display: inline;">
                    </div>
                </div>
                <div class="module">
                    <div style="min-height: 400px">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>工号</th>
                                <th>姓名</th>
                                <th>密码</th>
                            </tr>
                            </thead>
                            <tbody id="tab">
                            <tr v-for="item in datas">
                                <td>
                                    <input v-model="item.checked" type="checkbox" class="chb">
                                </td>
                                <td>{{ item.workNumber }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.password }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="module" style="height: 60px">
                    <div class="fixed-table-pagination" style="display: block; float: right;">
                        <div id="tab-pagination" class="pagination ">
                        </div>
                    </div>
                </div>
            </div>
            {include file="common/footer"}
        </div>
    </div>
</div>

<!--弹出框-->
{include file="common/modal_teacher_upload"}
{include file="common/modal_add_teacher_manager"}
{include file="common/modal_delete_teacher_manager"}

<script type="text/javascript" src="{{$Think.const.OLD}}/js/index.js"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/jquery2.14.min.js"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/bootstrap.js"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/backstage.js"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/vue.min.js"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/jqPaginator.min.js"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/jquery.uploadfile.js"></script>
{include file="common/api"}
<script type="text/javascript" src="{{$Think.const.OLD}}/js/teacher_manager.js"></script>
</body>
</html>