<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>毕设导师智能分配系统</title>
    <link rel="stylesheet" type="text/css" href="{{$Think.const.TUTOR_STATIC}}/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/backstage.css">
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/student.css">
    <link href="{{$Think.const.OLD}}/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/department_time.css">
    <style type="text/css">
        .sider-navbar-nav li {
            color: #fff;
            text-align: center;
            padding-top: 10px;
        }
        #warn-alert-close:hover {
            background-color: pink;
        }
        .sider-navbar-nav > a{
            text-decoration: none;
        }
    </style>
</head>

<body cz-shortcut-listen="true">

<div id="warn-alert" class="alert alert-info" style="display: none; position:fixed; top:10px; left: 300px;right: 300px; margin:auto; border: 2px solid red; opacity: 1; z-index: 4">
    <p id="warn-alert-text" style="display: inline-block;float: left;">提示：你还未设置毕设导师分配的时间</p>
    <span id="warn-alert-close" style="display: inline-block; float: right;" class="glyphicon glyphicon-remove" style="margin-right: 50px"></span>
</div>
<div id="container-backstage" class="clearfix">
    <div id="siderbar">
        <nav class="sider-navbar">
            <div class="sider-navbar-header">
                <img src="{{$Think.const.OLD}}/image/mainpage-logo.png" alt="" width="240">
            </div>
            <ul class="sider-navbar-nav">
                <a href="{{:url('DepartmentHeadTutor/index')}}"><li><i class="glyphicon glyphicon-user"></i> 个人信息</li></a>
                <a href="{{:url('DepartmentHeadTutor/studentManager')}}"><li><i class="glyphicon glyphicon-th-list"></i> 学生管理</li></a>
                <li><i class="glyphicon glyphicon-pencil"></i> 导师管理</li>
                <a href="{{:url('DepartmentHeadTutor/timeSetting')}}"><li class="active"><i class="glyphicon glyphicon-time"></i> 匹配设置</li></a>
                <a href="{{:url('DepartmentHeadTutor/matchSetting')}}"><li><i class="glyphicon glyphicon-ok"></i> 匹配结果</li></a>
                <li><i class="glyphicon glyphicon-download-alt"></i> 结果导出</li>
            </ul>
        </nav>
    </div>
    <div id="mainpage">
        <div class="top-nav">
            <div class="user-area">
                <div class="hello-user">
                    <span><i class="glyphicon glyphicon-user"></i>欢迎您,</span>
                    <span class="user-name">{{:user_type()}}: {{$user['name']|default="xxx"}}</span>
                </div>
            </div>
            <div class="login-out-area">
                <a href="{{:url('BaseController/logout')}}"><i class="glyphicon glyphicon-off"></i>退出</a>
            </div>
        </div>
        <div class="page-content" style="min-height: 595px;">
            <div class="main-content" style="border-radius: 10px; padding: 20px; min-height: 555px;">
                <div role="alert" class="alert alert-info" style="margin-bottom: 0">
                    {if condition="$settingInfo.empty eq 1 "}
                        <p>提示：您还未设置毕设导师分配的时间</p>
                        {else /}
                        <p>提示：您已设置毕设导师分配的时间，可进行时间修改</p>
                    {/if}
                </div>
                <form action="{{:url('DepartmentHeadTutor/infoSetting')}}" method="post" onsubmit="return validate()"
                      role="form">
                    <div class="separate form-horizontal">
                        <fieldset>
                            <legend>学生人数设置</legend>
                            <div class="div-flex">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-12">最多人数</label>
                                    <div class="input-group col-md-8 col-sm-12">
                                        <input class="form-control" value="{{$settingInfo.totalMax}}" type="number" id="student-num-max"
                                               name="totalMax" round="" style="border-radius: 3px">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-12">最少人数</label>
                                    <div class="input-group col-md-8 col-sm-12">
                                        <input class="form-control" value="{{$settingInfo.totalMin}}" type="number" id="student-num-min"
                                               name="totalMin" round="" style="border-radius: 3px">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-12 ">默认人数</label>
                                    <div class="input-group col-md-8 col-sm-12">
                                        <input class="form-control" value="{{$settingInfo.defaultNum}}" type="number" id="student-num-default"
                                               name="defaultNum" round="" style="border-radius: 3px">
                                    </div>
                                </div>
                                <div class="blank"></div>
                            </div>
                            <div class="div-flex">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-12">&nbsp;&nbsp;志愿数</label>
                                    <div class="input-group col-md-8 col-sm-12">
                                        <input class="form-control" value="{{$settingInfo.voluntaryNum}}" type="number" id="wish-num"
                                               name="voluntaryNum" round="" style="border-radius: 3px">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-12">最多人数<br/><span style="font-size: 12px;text-align: center;">(实验班)</span></label>
                                    <div class="input-group col-md-8 col-sm-12">
                                        <input class="form-control" value="{{$settingInfo.experialMax}}" type="number" id="student-num-max-expri"
                                               name="experialMax" round="" style="border-radius: 3px">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-12"><br/></label>
                                    <div class="input-group col-md-8 col-sm-12">
                                        
                                    </div>
                                </div>
                                <div class="blank"></div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="separate form-horizontal">
                        <fieldset>
                            <legend>年级设置</legend>
                            <div class="div-flex">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-12">当前年级</label>
                                    <div class="input-group col-md-8 col-sm-12">
                                        <!-- <input class="form-control" type="number" id="wish-num" name="wish-num" round="" style="border-radius: 3px"> -->
                                        <select class="form-control" name="grade" style="border-radius:3px;background-color:#fcfcfc">
                                            <option>2016级</option>
                                            <option>2015级</option>
                                            <option>2014级</option>
                                            <option>2013级</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-12">
                                        <br/>
                                    </label>
                                    <div class="input-group col-md-8 col-sm-12">
                                    </div>
                                </div>
                                <div class="blank"></div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="separate form-horizontal">
                        <fieldset>
                            <legend>选题时间</legend>
                            <div class="div-flex">
                                <div class="form-group">
                                    <label for="research-start" class="col-md-3 control-label">起始时间</label>
                                    <div class="input-group date form_datetime col-md-8" data-date=""
                                         data-date-format="yyyy-mm-dd hh:ii "
                                         data-link-field="research-start" data-link-format="yyyy-mm-dd hh:ii">
                                        <input class="form-control" size="16" type="text" value="{{$settingInfo.issueStart}}" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span
                                                class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                    <input type="hidden" name="issueStart" id="research-start" value="{{$settingInfo.issueStart}}"/><br/>
                                </div>
                                <div class="form-group">
                                    <label for="research-end" class="col-md-3 control-label">截止时间</label>
                                    <div class="input-group date form_datetime col-md-8" data-date=""
                                         data-date-format="yyyy-mm-dd hh:ii "
                                         data-link-field="research-end" data-link-format="yyyy-mm-dd hh:ii">
                                        <input class="form-control" size="16" type="text" value="{{$settingInfo.issueEnd}}" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span
                                                class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                    <input type="hidden" name="issueEnd" id="research-end" value="{{$settingInfo.issueEnd}}"/><br/>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="separate form-horizontal">
                        <fieldset>
                            <legend>志愿填报时间</legend>
                            <p>第一轮</p>
                            <div class="div-flex">
                                <div class="form-group">
                                    <label for="wish-start-first" class="col-md-3 control-label">起始时间</label>
                                    <div class="input-group date form_datetime col-md-8" data-date=""
                                         data-date-format="yyyy-mm-dd hh:ii "
                                         data-link-field="wish-start-first" data-link-format="yyyy-mm-dd hh:ii">
                                        <input class="form-control" size="16" type="text" value="{{$settingInfo.firstStart}}" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span
                                                class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                    <input type="hidden" name="firstStart" id="wish-start-first" value="{{$settingInfo.firstStart}}"/><br/>
                                </div>
                                <div class="form-group">
                                    <label for="wish-end-first" class="col-md-3 control-label">截止时间</label>
                                    <div class="input-group date form_datetime col-md-8" data-date=""
                                         data-date-format="yyyy-mm-dd hh:ii "
                                         data-link-field="wish-end-first" data-link-format="yyyy-mm-dd hh:ii">
                                        <input class="form-control" size="16" type="text" value="{{$settingInfo.firstEnd}}" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span
                                                class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                    <input type="hidden" name="firstEnd" id="wish-end-first" value="{{$settingInfo.firstEnd}}"/><br/>
                                </div>
                            </div>
                            <p>第二轮</p>
                            <div class="div-flex">
                                <div class="form-group">
                                    <label for="wish-start-second" class="col-md-3 control-label">起始时间</label>
                                    <div class="input-group date form_datetime col-md-8" data-date=""
                                         data-date-format="yyyy-mm-dd hh:ii "
                                         data-link-field="wish-start-second" data-link-format="yyyy-mm-dd hh:ii">
                                        <input class="form-control" size="16" type="text" value="{{$settingInfo.secondStart}}" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span
                                                class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                    <input type="hidden" name="secondStart" id="wish-start-second" value="{{$settingInfo.secondStart}}"/><br/>
                                </div>
                                <div class="form-group">
                                    <label for="wish-end-second" class="col-md-3 control-label">截止时间</label>
                                    <div class="input-group date form_datetime col-md-8" data-date=""
                                         data-date-format="yyyy-mm-dd hh:ii "
                                         data-link-field="wish-end-second" data-link-format="yyyy-mm-dd hh:ii">
                                        <input class="form-control" size="16" type="text" value="{{$settingInfo.secondEnd}}" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span
                                                class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                    <input type="hidden" name="secondEnd" id="wish-end-second" value="{{$settingInfo.secondEnd}}"/><br/>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="separate form-horizontal">
                        <fieldset>
                            <legend>导师选择时间</legend>
                            <p>第一轮</p>
                            <div class="div-flex">
                                <div class="form-group">
                                    <label for="teacher-start-first" class="col-md-3 control-label">起始时间</label>
                                    <div class="input-group date form_datetime col-md-8" data-date=""
                                         data-date-format="yyyy-mm-dd hh:ii "
                                         data-link-field="teacher-start-first" data-link-format="yyyy-mm-dd hh:ii">
                                        <input class="form-control" size="16" type="text" value="{{$settingInfo.confirmFirstStart}}" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span
                                                class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                    <input type="hidden" name="confirmFirstStart" id="teacher-start-first"
                                           value="{{$settingInfo.confirmFirstStart}}"/><br/>
                                </div>
                                <div class="form-group">
                                    <label for="teacher-end-first" class="col-md-3 control-label">截止时间</label>
                                    <div class="input-group date form_datetime col-md-8" data-date=""
                                         data-date-format="yyyy-mm-dd hh:ii "
                                         data-link-field="teacher-end-first" data-link-format="yyyy-mm-dd hh:ii">
                                        <input class="form-control" size="16" type="text" value="{{$settingInfo.confirmFirstEnd}}" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span
                                                class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                    <input type="hidden" name="confirmFirstEnd" id="teacher-end-first" value="{{$settingInfo.confirmFirstEnd}}"/><br/>
                                </div>
                            </div>
                            <p>第二轮</p>
                            <div class="div-flex">
                                <div class="form-group">
                                    <label for="teacher-start-second" class="col-md-3 control-label">起始时间</label>
                                    <div class="input-group date form_datetime col-md-8" data-date=""
                                         data-date-format="yyyy-mm-dd hh:ii "
                                         data-link-field="teacher-start-second" data-link-format="yyyy-mm-dd hh:ii">
                                        <input class="form-control" size="16" type="text" value="{{$settingInfo.confirmSecondStart}}" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span
                                                class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                    <input type="hidden" name="confirmSecondStart" id="teacher-start-second"
                                           value="{{$settingInfo.confirmSecondStart}}"/><br/>
                                </div>
                                <div class="form-group">
                                    <label for="teacher-end-second" class="col-md-3 control-label">截止时间</label>
                                    <div class="input-group date form_datetime col-md-8" data-date=""
                                         data-date-format="yyyy-mm-dd hh:ii "
                                         data-link-field="teacher-end-second" data-link-format="yyyy-mm-dd hh:ii">
                                        <input class="form-control" size="16" type="text" value="{{$settingInfo.confirmSecondEnd}}" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span
                                                class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                    <input type="hidden" name="confirmSecondEnd" id="teacher-end-second"
                                           value="{{$settingInfo.confirmSecondEnd}}"/><br/>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="form-group form-group-search button">
                        <input id="btn-submit" class="btn btn-info size" type="submit">
                        </input>
                    </div>
                </form>
            </div>
            <div class="footer" style="border-radius: 10px;">
                Designed by Lin &amp; 我说的都队
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{$Think.const.OLD}}/js/index.js"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/jquery2.14.min.js"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/bootstrap.js"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
    $("#warn-alert-close").click(function() {
        $("#warn-alert").hide(300);
    });
</script>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
    $('.form_datetime').datetimepicker('setStartDate', new Date());
</script>
<script type="text/javascript">
    function validate() {
        var formDate = $("input:hidden");
        var formNum = $("input[type='number']");

        var isNumEmpty = validateForm(formNum, 1);
        var isDateEmpty = validateForm(formDate, 2);
        var isEndBigger = checkDate(formDate);
        var isSecondRoundBigger = checkDateOfTwoRound(formDate);
        var isNegative = numIsNegative(formNum);

        showWarnInfo(isNumEmpty, isDateEmpty, isEndBigger, isSecondRoundBigger, isNegative);
        return !isNumEmpty && !isDateEmpty && isEndBigger && isSecondRoundBigger && !isNegative;
    }

    function numIsNegative(formNum) {
        var idSet = new Array();
        var isNegative = false;
        for (var i = 0; i < formNum.length; ++i) {
            if (formNum[i].value !== "" &&
                    formNum[i].value <= 0) {
                idSet.push(formNum[i].id);
                isNegative = true;
            }
        }

        displayWarnStyleNum(idSet);
        return isNegative;
    }

    function checkDateOfTwoRound(formDate) {
        var idSet = new Array();
        var isSecondRoundBigger = true;
        var volRound1 = formDate[3];
        var volRound2 = formDate[4];
        var tutorRound1 = formDate[7];
        var tutorRound2 = formDate[8];

        if (new Date(volRound1.value) > new Date(volRound2.value)) {
            idSet.push(volRound1.id);
            idSet.push(volRound2.id);
            isSecondRoundBigger = false;
        }

        if (new Date(tutorRound1.value) > new Date(tutorRound2.value)) {
            idSet.push(tutorRound1.id);
            idSet.push(tutorRound2.id);
            isSecondRoundBigger = false;
        }

        displayWarnStyleDate(idSet);
        return isSecondRoundBigger;
    }

    function validateForm(form, option) {
        var idSetNum = new Array();
        var idSetDate = new Array();
        var isEmpty = false;

        for (var i = 0; i < form.length; ++i) {
            var item = form[i];
            if (item.value === "") {
                if (option === 2) {
                    // $("#" + item.id).prev().addClass("has-error");
                    idSetDate.push(item.id);
                } else if (option == 1) {
                    // $("#" + item.id).parent().addClass("has-error");
                    idSetNum.push(item.id);
                }
                isEmpty = true;
            }
        }
        displayWarnStyleNum(idSetNum)
        displayWarnStyleDate(idSetDate);
        return isEmpty;
    }

    function checkDate(form) {
        var idSet = new Array();
        var isEndBigger = true;

        //检查起始时间小于截止时间
        var index = 0;
        for (var j = 0; j < 5; ++j) {
            dateStart = new Date(form[index].value);
            dateEnd = new Date(form[index + 1].value);

            if (dateStart > dateEnd) {
                idSet.push(form[index].id);
                idSet.push(form[index + 1].id);
                isEndBigger = false;
            }
            index += 2;
        }

        displayWarnStyleDate(idSet);
        return isEndBigger;
    }

    function displayWarnStyleDate(idSet) {
        for (var i = 0; i < idSet.length; ++i) {
            $("#" + idSet[i]).prev().addClass("has-error");
        }
    }

    function displayWarnStyleNum(idSet) {
        for (var i = 0; i < idSet.length; ++i) {
            $("#" + idSet[i]).parent().addClass("has-error");
        }
    }

    function showWarnInfo(isNumEmpty, isDateEmpty, isEndBigger, isSecondRoundBigger, isNegative) {
        var finalText = "提示：";
        var order = 0;
        if (isDateEmpty || isNumEmpty) {
            order++;
            finalText = finalText.concat("<br>" + order + ".输入框不能为空！");
            console.log("judge1");
        }

        if (!isEndBigger) {
            order++;
            finalText = finalText.concat("<br>" + order + ".起始时间不得大于截止时间！");
            console.log("judge2");
        }

        if (!isSecondRoundBigger) {
            order++;
            finalText = finalText.concat("<br>" + order + ".第一轮时间不得大于第二轮时间！");
        }

        if (isNegative) {
            order++;
            finalText = finalText.concat("<br>" + order + ".人数不能为负！")
        }

        $("#warn-alert-text").html(finalText);
        $("#warn-alert").show(300);
        console.log(finalText);
    }
</script>
<script type="text/javascript">
    $("input").click(function() {
        $(this).parent().removeClass("has-error");
    });
    $("span.input-group-addon").click(function() {
        $(this).parent().removeClass("has-error");
    });
</script>
</body>
</html>