<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>毕设导师智能分配系统</title>
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/backstage.css">
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/student.css">
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/teacher.css">
    <style type="text/css">
        .sider-navbar-nav li {
            color: #fff;
            text-align: center;
            padding-top: 10px;
        }
    </style>
</head>
<body>

<div id="container-backstage" class="clearfix">
    <div id="siderbar">
        <nav class="sider-navbar">
            <div class="sider-navbar-header">
                <img src="{{$Think.const.OLD}}/image/mainpage-logo.png" alt="" width="240">
            </div>
            <ul class="sider-navbar-nav">
                <a href="{{:url('teacher_tutor/index')}}"><li class="active"><i class="glyphicon glyphicon-user"></i> 个人信息</li></a>
                <a href="{{:url('teacher_tutor/student_list')}}"><li><i class="glyphicon glyphicon-th-list"></i> 可选学生</li></a>
                <a href="{{:url('teacher_tutor/issue_submit')}}"><li><i class="glyphicon glyphicon-pencil"></i> 课题提交</li></a>
                <a href="{{:url('teacher_tutor/show_result')}}"><li><i class="glyphicon glyphicon-ok"></i> 志愿结果</li></a>
            </ul>
        </nav>
    </div>
    <div id="mainpage">
        <div class="top-nav">
            <div class="user-area">
                <div class="hello-user">
                    <span><i class="glyphicon glyphicon-user"></i>欢迎您,</span>
                    <span class="user-name">{{:user_type()}}: {{$user['name']|default="xxx"}}</span>
                </div>
            </div>
            <div class="login-out-area">
                <a href="{{:url('BaseController/logout')}}"><i class = "glyphicon glyphicon-off"></i>退出</a>
            </div>
        </div>
        <div class="page-content">
            <div class="main-content" style="border-radius: 10px;padding: 20px;">
                <div role="alert" class="alert alert-info" style="margin-bottom: 0">
                    <p>提示：第一轮导师确认学生时间为2016年10月19日至2016年10月22日，请导师在规定时间内完成学生的选择和确认！</p>
                </div>
                <div class="my-information-title">
                   
                        <span>陈燊</span>
                               
        
                </div>
                <div class="phpoto">
                      <img src="{{$Think.const.OLD}}/image/defaultAvator.png" class="avatorPre">
                </div>
                <div class="information-detail" >
                    <ul>
                        <li><span>学号：</span><span>031402342</span><span>年级：</span><span>2014级</span></li>
                        <li><span>系别：</span><span>计算机</span><span>方向：</span><span>计算机科学与技术</span></li>
                        <li><span>绩点：</span><span>3.5</span><span>排名：</span><span>2/72</span></li>
                        <li><span>电话：</span><span>1333332525</span><span>邮箱：</span><span>553521233@qq.com</span></li>
                    </ul>
                </div>
                 <div class="new-skill-title">
                    <p>技能与经历：</p>
                </div>
                <div class="new-skill-detail">
                    <p>冷死了算了算了算了算了冷死了算了算了</p>
                </div>

                <div class="edit-btn">
                     <button class="btn btn-info button-size" type="submit" style ="margin-right:100px">选择</button>
                     <button class="btn btn-info button-size" type="submit" >拒绝</button>  
                </div> 
            </div>
            
            <div class="footer"  style="border-radius: 10px;">
                Designed by Lin & 我说的都队
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/index.js"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/jquery2.14.min.js"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/bootstrap.js"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/backstage.js"></script>
</body>
</html>


