<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>毕设选导-教师报课管理系统</title>
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/backstage.css">
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/student.css">
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/teacher.css">
    <style type="text/css">
        .sider-navbar-nav li {
            color: #fff;
            text-align: center;
            padding-top: 10px;
        }
    </style>
</head>
<body>

<div id="container-backstage" class="clearfix">
    <div id="siderbar">
        <nav class="sider-navbar">
            <div class="sider-navbar-header">
                <img src="{{$Think.const.OLD}}/image/mainpage-logo2.png" alt="" width="240">
            </div>
            <ul class="sider-navbar-nav">
                <a href="{{:url('teacher_tutor/index')}}"><li><img src="__STATIC__/image/教师/个人信息.png" height="25px" width="25px"> 个人信息</li></a>
                <a href="{{:url('teacher_tutor/student_list')}}"><li class="active"><img src="__STATIC__/image/教师/可选学生.png" height="25px" width="25px">  可选学生</li></a>
                <a href="{{:url('teacher_tutor/issue_submit')}}"><li><img src="__STATIC__/image/教师/课题提交.png" height="25px" width="25px"> 课题提交</li></a>
                <a href="{{:url('teacher_tutor/show_result')}}"><li><img src="__STATIC__/image/教师/志愿结果.png" height="25px" width="25px"> 志愿结果</li></a>
            </ul>
        </nav>
    </div>
    <div id="mainpage">
        <div class="top-nav">
            <div class="user-area">
                <div class="hello-user">
                    <span><i class="glyphicon glyphicon-user"></i>欢迎您,</span>
                    <span class="user-name">{{:user_type()}}: {{$user['name']|default="xxx"}}</span>
                </div>
            </div>
            <div class="login-out-area">
                <a href="{{:url('BaseController/logout')}}"><i class = "glyphicon glyphicon-off"></i>退出</a>
            </div>
        </div>
        <div class="page-content">
            <div class="main-content" style="border-radius: 10px;padding: 20px;">
                <div role="alert" class="alert alert-info" style="margin-bottom: 0">
                    <p>提示<?php if(isset($message1)) {?>1<?php }?>：{{:$message}}</p>
                    <?php if(isset($message1)) {?><p>提示2：{{:$message1}}</p><?php }?>
                    <?php if(isset($message2)) {?><p>提示3：{{:$message2}}</p><?php }?>
                    <?php if(isset($message3)) {?><p>提示3：{{:$message3}}</p><?php }?>
                </div>
                <div class="my-information-title">

                        <span>{{$student.name}}</span>
                         <button type="button" onclick="window.location.href('{{:url('teacher_tutor/student_list')}}')" id="closepop" class="close" style="height:50px;" >
                    <a href="{{:url('teacher_tutor/student_list')}}">关闭</a>
                </button>
                </div>
                <div class="phpoto">
                    {if condition="$student.avatorIsEmpty eq 0"}
                      <img src="{{$Think.const.COMMON_PATH}}{{$student.avator}}" class="avatorPre">
                    {elseif condition="$student.avatorIsEmpty eq 1"}
                      <img src="{{$Think.const.OLD}}/image/defaultAvator.png" class="avatorPre">
                    {/if}
                </div>
                <div class="information-detail" >
                    <ul>
                        <li><span>学号：</span><span>{{$student['serialNum']}}</span><span>年级：</span><span>{{$student['grade']}}级</span></li>
                        <li><span>系别：</span><span>{{$student['department']}}</span><span>方向：</span><span>{{$student['field']}}</span></li>
                        <li><span>绩点：</span><span>{{$student['gpa']}}</span><span>排名：</span><span>{{$student['rank']}}</span></li>
                        <li><span>电话：</span><span>{{$student['telephone']}}</span><span>邮箱：</span><span>{{$student['email']}}</span></li>
                    </ul>
                </div>
                 <div class="new-skill-title">
                    <p>技能与经历：</p>
                </div>
                <div class="new-skill-detail">
                    <p>{{$student['skill']}}</p>
                </div>

                <div class="edit-btn">
                     <input class="btn btn-info " style="width:100px;margin-right:150px;" data-toggle="modal" data-backdrop="static" data-target="#cModal"  value="选&nbsp;择" name="choise">
                    <input class="btn btn-info " style="width:100px;" data-toggle="modal" data-backdrop="static" data-target="#rModal"  value="拒&nbsp;绝" name="choise"> 
                    </form>
                </div> 
            </div>
            
            <div class="footer"  style="border-radius: 10px;">
                Copyright &copy; 我说的都队
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cModal" tabindex="-1" role="dialog" aria-labelledby="cModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="cModalLabel">
                   确定学生信息
                </h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>#</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>排名</th>
                            <th>绩点</th>
                            <th>志愿顺序</th>
                        </tr>
                        <tbody>
                            <td><input type="radio"  value="{{$student['serialNum']}}" checked></td>
                            <td>{{$student['name']}}</td>
                            <td>{{$student['gender']}}</td>
                            <td>{{$student['rank']}}</td>
                            <td>{{$student['gpa']}}</td>
                            <td><?php if($student['wishFirst'] == $user['workNumber'])echo "第一志愿";else if($student['wishSecond'] == $user['workNumber'])echo "第二志愿"; else if($student['wishThird'] == $user['workNumber'])echo "第三志愿"; else if($student['wishForth'] == $user['workNumber'])echo "第四志愿";else echo "第五志愿"?></td>
                        </tbody>
                    </table>
                </div>  
            </div>
            <div class="modal-footer">
                <form method="post" action="{{:url('TeacherTutor/student_list')}}">
                <input style="display: none;" type="text" value="{{$student['sid']}}" name="sid">
                <?php $i = '{{datas.sid}}'; ?>
                <button <?php if($i == null) {?> disabled="disabled" <?php } ?> type="submit" name ="choise" class="btn btn-primary" value="选择">
                    确认选择
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
<div class="modal fade" id="rModal" tabindex="-1" role="dialog" aria-labelledby="rModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="rModalLabel">
                    确定学生信息
                </h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>#</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>排名</th>
                            <th>绩点</th>
                            <th>志愿顺序</th>
                        </tr>
                        <tbody>
                            <td><input type="radio" value="{{$student['serialNum']}}" checked></td>
                            <td>{{$student['name']}}</td>
                            <td>{{$student['gender']}}</td>
                            <td>{{$student['rank']}}</td>
                            <td>{{$student['gpa']}}</td>
                            <td><?php if($student['wishFirst'] == $user['workNumber'])echo "第一志愿";else if($student['wishSecond'] == $user['workNumber'])echo "第二志愿"; else if($student['wishThird'] == $user['workNumber'])echo "第三志愿"; else if($student['wishForth'] == $user['workNumber'])echo "第四志愿";else echo "第五志愿"?></td>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <form method="post" action="{{:url('TeacherTutor/student_list')}}">
                <input style="display: none;" type="text" value="{{$student['sid']}}" name="sid">
                <?php $i = '{{datas.sid}}'; ?>
                <button <?php if($i == null) {?> disabled="disabled" <?php } ?>  type="submit" name ="choise" class="btn btn-primary" value="拒绝">
                    确认拒绝
                </button>
                <button type="button"  class="btn btn-default" data-dismiss="modal">关闭
                </button>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/index.js"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/jquery2.14.min.js"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/bootstrap.js"></script>
<script type="text/javascript" src="{{$Think.const.OLD}}/js/backstage.js"></script>
</body>
</html>


