<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>毕设选导-教师报课管理系统-登录</title>
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{$Think.const.OLD}}/css/login.css">
    <script type="text/javascript" src="{{$Think.const.OLD}}/js/index.js"></script>
    <script type="text/javascript" src="{{$Think.const.OLD}}/js/jquery2.14.min.js"></script>
    <script type="text/javascript" src="{{$Think.const.OLD}}/js/bootstrap.js"></script>
</head>
<body>


<div class="container">


    <div id="login-box">

        <img src="{{$Think.const.OLD}}/image/form-logo1.png"></div>
    </div>
    <div>
        <p style="color: white;text-align: center;font-size: 20px;">系统临时维护中，恢复使用时我们会通知您！</p>
    </div>
</div>
<div id="footer">
    <p>Designed by Lin</p>
</div>
</body>
</html>