<script type="text/javascript">
// =======================
// 学生管理接口
var api_student_delete = "{{$Think.const.PREFIX}}/DepartmentHeadTutor/deleteStudent";
var api_student_list = "{{$Think.const.PREFIX}}/DepartmentHeadTutor/studentList";
var api_grade_list = "{{$Think.const.PREFIX}}/DepartmentHeadTutor/gradeList";
var api_student_add = "{{$Think.const.PREFIX}}/DepartmentHeadTutor/addStudent";
var api_student_search = "{{$Think.const.PREFIX}}/DepartmentHeadTutor/searchStudent";

//========================
// 文件上传、导入接口
var api_student_excel_upload = "{{$Think.const.PREFIX}}/DepartmentHeadTutor/student_excel_import";
var api_student_excel_import = "{{$Think.const.PREFIX}}/DepartmentHeadTutor/student_excel_add";
var api_teacher_excel_upload = "{{$Think.const.PREFIX}}/DepartmentHeadTutor/teacher_excel_import";
var api_teacher_excel_import = "{{$Think.const.PREFIX}}/DepartmentHeadTutor/teacher_excel_add";

//========================
// 导师管理接口
var api_teacher_list = "{{$Think.const.PREFIX}}/DepartmentHeadTutor/teacherList";
var api_teacher_add = "{{$Think.const.PREFIX}}/DepartmentHeadTutor/addTeacher";
var api_teacher_search = "{{$Think.const.PREFIX}}/DepartmentHeadTutor/searchTeacher";
var api_teacher_delete = "{{$Think.const.PREFIX}}/DepartmentHeadTutor/deleteTeacher";

//========================
// 智能分配接口
var api_unassigned_student_list = "{{$Think.const.PREFIX}}/DepartmentHeadTutor/unchosenStudentList";   // 未分配学生列表
var api_assign_page1_confirm = "{{$Think.const.PREFIX}}/DepartmentHeadTutor/allocStudent";     // 界面1 确认分配导师
var api_unassigned_teacher_list = "{{$Think.const.PREFIX}}/DepartmentHeadTutor/teacherIssue";   // 未分配导师列表
var api_assigned_student_list = "{{$Think.const.PREFIX}}/DepartmentHeadTutor/studentElectedList";     // 分配结果列表-学生视角
var api_assigned_teacher_list = "";     // 分配结果列表-导师视角
var api_confirm_cur_page = "";
</script>