<!-- 添加弹出框（Modal） -->
<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" id="btn-close-add-above" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button> -->
                <h4 class="modal-title" id="addItemLabel">
                    添加导师
                </h4>
            </div>
            <div class="modal-body" id="form_data">
                <div id="addinfo" style="width: 80%; text-align: center;font-size: 20px">
                </div>
                <div class="input-div clearfix">
                    <div class="wrapper">
                        <label class="control-label input-label">工号</label>
                    </div>
                    <input class="form-control input-add" v-model="workNumber" placeholder="如：031402201" type="text">
                </div>
                <div class="input-div clearfix">
                    <div class="wrapper">
                        <label class="control-label input-label">姓名</label>
                    </div>
                    <input v-model="name" class="form-control input-add">
                </div>
                <div class="input-div clearfix">
                    <div class="wrapper">
                        <label class="control-label input-label">性别</label>
                    </div>
                    <select v-model="gender" class="form-control input-add">
                        <option value="男" selected="selected">男</option>
                        <option value="女">女</option>
                    </select>
                </div>
                <div class="input-div clearfix">
                    <div class="wrapper">
                        <label class="control-label input-label">系别</label>
                    </div>
                    <select v-model="department" class="form-control input-add">
                        <option selected="selected">应用数学系</option>
                        <option>信息与计算科学系</option>
                        <option>计算机系</option>
                        <option>信息安全与网络系</option>
                        <option>软件工程系</option>
                        <option>计算机实验班</option>
                        <option>数学实验班</option>
                    </select>
                </div>
                <div class="input-div clearfix">
                    <div class="wrapper">
                        <label class="control-label input-label">导师身份</label>
                    </div>
                    <select v-model="isExperial" class="form-control input-add">
                        <option value="0" selected="selected">自然班</option>
                        <option value="1">自然班或计算机实验班</option>
                        <option value="2">自然班或数学实验班</option>
                        <option value="3">自然班或数学实验班或计算机实验班</option>
                    </select>
                </div>
                <div class="input-div clearfix">
                    <div class="wrapper">
                        <label class="control-label input-label">职称</label>
                    </div>
                    <input v-model="position" class="form-control input-add">
                </div>
            </div>
            <div class="modal-footer">
                <a id="btn-close-add-bottom" class="btn btn-default" data-dismiss="modal">关闭
                </a>
                <button id="btn-submit-add" type="button" class="btn btn-primary">
                    提交更改
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>