<!-- 添加弹出框（Modal） -->
<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" id="btn-close-add-above" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button> -->
                <h4 class="modal-title" id="addItemLabel">
                    添加学生
                </h4>
            </div>
            <div class="modal-body">

                <div id="info-student">
                    <div class="input-div clearfix">
                        <div class="wrapper">
                            <label class="control-label input-label">学号</label>
                        </div>
                        <input maxlength="9" onKeyPress="if((event.keyCode<48 || event.keyCode>57) && event.keyCode!=46)event.returnValue=false"  v-model="serialNum" class="form-control input-add" placeholder="如：031402201" type="text">
                    </div>
                    <div class="input-div clearfix">
                        <div class="wrapper">
                            <label class="control-label input-label">姓名</label>
                        </div>
                        <input v-model="name" placeholder="请填写姓名" class="form-control input-add">
                    </div>
                    <div class="input-div clearfix">
                        <div class="wrapper">
                            <label class="control-label input-label">性别</label>
                        </div>
                        <select v-model="gender" class="form-control input-add">
                            <option selected>男</option>
                            <option>女</option>
                        </select>
                    </div>
                    <div class="input-div clearfix">
                        <div class="wrapper">
                            <label class="control-label input-label">绩点</label>
                        </div>
                        <input id="gpa" onKeyPress="if((event.keyCode<48 || event.keyCode>57) && event.keyCode!=46 || /\.\d\d$/.test(value))event.returnValue=false" v-model="gpa" class="form-control input-add" placeholder="如：3.5" type="text">
                        <span id="gpaIsLegal"></span>
                    </div>
                    <div class="input-div clearfix">
                        <div class="wrapper">
                            <label class="control-label input-label">系别</label>
                        </div>
                        <select v-model="department" class="form-control input-add">
                            <option selected>{{$user.department}}</option>
                        </select>
                    </div>
                    <div class="input-div clearfix">
                        <div class="wrapper">
                            <label class="control-label input-label">手机</label>
                        </div>
                        <input maxlength="11" onKeyPress="if((event.keyCode<48 || event.keyCode>57) && event.keyCode!=46)event.returnValue=false"   v-model="telephone" class="form-control input-add" placeholder="请填写手机号" type="text">
                    </div>
                    <div class="input-div clearfix">
                        <div class="wrapper">
                            <label class="control-label input-label">排名</label>
                        </div>
                        <input v-model="rank" class="form-control input-add" placeholder="如：1/180" type="text">
                        <span id="rankIsLegal"></span>
                    </div>
                    <div class="input-div clearfix">
                        <div class="wrapper">
                            <label  class="control-label input-label">年级</label>
                        </div>
                        <input maxlength="4" onKeyPress="if((event.keyCode<48 || event.keyCode>57) && event.keyCode!=46)event.returnValue=false"   v-model="grade" class="form-control input-add" placeholder="如：2014" type="text">
                    </div>
                </div>
                <div id="addinfo"  style="height: 20px; width: 80%; text-align: center;font-size: 14px">
                </div>
            </div>
            <div class="modal-footer">
                <a id="btn-close-add-bottom" class="btn btn-default" data-dismiss="modal">关闭
                </a>
                <button id="btn-submit-add" type="button" class="btn btn-primary">
                    提交更改
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>