<div class="modal fade" id="exportExcelModal" tabindex="-1" role="dialog" aria-labelledby="exportExcelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <!--  <button type="button" id="closepop" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button> -->
                <h4 class="modal-title" id="exportExcelLabel">
                    导入导师名单
                </h4>
            </div>
            <div class="modal-body">
                <div role="alert" class="alert alert-info" style="margin-bottom: 0">
                    <p>批量导入提示</p>
                    <p>1、请先选择导入方式，并下载相应的导入模板文件，按照其格式要求填写后进行导入。</p>
                    <p>2、注意上传文件格式只支持Excel2003（即.xls文件）。</p>
                    <p>3、点击“上传”导入完成后，点击“确认已导入”再进行最终确认。</p>
                </div>
                <div style="width: 95%; margin: 10px auto;">
                    <p>模板下载：<a href="{{$Think.const.PREFIX}}/DepartmentHeadTutor/teacher_excel_template">点击下载</a>导入模板</p>
                </div>
                <div id="fileuploader">Upload</div>
                <div id="uploadinfo"></div>
            </div>
            <div class="modal-footer">
                <a id="exit-import" type="button" class="btn btn-default" data-dismiss="modal">放弃导入
                </a>
                <button id="confirm-import" type="button" class="btn btn-primary">
                    确认导入
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>