div .table-position {
    min-height: 400px;
}

.module {
    width: 90%;
    margin: auto;
}

#assignModal {
    width: 90%;
    margin: auto;
}

#assignModal .modal-dialog{
    width: 100%;
}

#teacherModal {
    width: 90%;
    margin: auto;
}

#teacherModal .modal-dialog{
    width: 100%;
}

.info-modal{
    text-align: center;
    font-size: 20px;
    height: 80px;
}

.warp{
    display: table;
    text-align: center;
}

.btn-assign{
    display: inline-block;
    padding: 1px 2px;
    margin: auto;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}