.module {
    width: 90%;
    margin: 20px auto;
    /*border: 3px solid orange;*/
}

.module button {
    width: 100%;
    padding: 6px 0;
}

#delete-item {
    background-color: #D95043;
    border: none;
}

#delete-item:hover {
    background-color: #FF7373;
    border: none;
}

.modal-lg {
    width: 900px;
}

.wrapper{
    height: 34px;
    width: 10%;
    display: table;
    float: left;
    margin-left: 20%;
}

.input-add {
    border-radius: 3px;
    width: 200px;
    /*float: right;*/

}

.input-label {
    vertical-align: middle;
    display: table-cell;
}

.input-div{
    margin-bottom: 5px;
}